<h2><%=costume.name %></h2>
<p class="fas fa-map-marker-alt"><%=costume.location %></p>
<img src="<%=url_for(costume.photo)%>" width="200px" height="200px">
<!--^here we will change width and height and customize it better-->
