.user-info{
  padding: 20px 0px 10px 0px;
}
.user-data {
  padding: 0px 0px 30px 20px;
    p {
    margin: 0;
  }
}
.bookings-division {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  padding: 30px;
}
h4 {
  padding-left: 15px;
}
.sent-bookings {
  width: 50%;
  padding-right: 20px;
}
.recieved-bookings {
  width: 50%;
  padding-left: 20px;
}
.dash-cars {
  width: 100%
}
.dash-card {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  background-color: white;
  border: white 3px solid;
}

.dash-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.dash-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.dash-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.dash-card .dash-card-infos {
  padding: 16px;
}
