body {
  background-color: #c5ffe0;
}
.container {
  width: 90%;
  height: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
   i {
     font-size: 30px;
   }
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  min-height: 15vh;
}
.owner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}


.center-section {
  height: 60vh;
  background: white;
  box-shadow: 0 0 15px rgba(82, 44, 44, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-radius: 5px;
    .price {
  text-align: right;
  margin-bottom: 0;
}
}

.center-section img {
  height: 100%;
  object-fit: cover;
  flex-grow: 1;
}

.center-section .costume-card-infos {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: larger;
  height: 100%;
    .icons {
      text-align: right;
      display: flex;
      justify-content: space-between;
    }
    ul {
      padding-left: 0px;
    }
    p {
      margin-bottom: 30px;
    }
}

.costume-details {
  li {
    margin: 15px;
  }
}

.values {
  text-align: right;
  padding-left: 0;
  padding-right: 50px;
}

#popup {
    height: 50px;
    width: 200px;
    text-align: center;
    vertical-align:middle;
    background-color: cornflowerblue;
    color: white;
    display: none;
    padding-top: 8px;
    position: absolute;
}
