.costumes_index {
    width: 100vw;
    display: flex;
    .left {
      width: 50%;
      height: 100%;
      margin: 0;
      padding: 20px;
      .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;
        margin-top: 10px;
        .card {
          height: 220px;
          width: 200px;
          border-radius: 10px;
          border: 1px solid transparent;
          .img {
            margin: 5px;
          }
          .card-img {
            height: 80%;
            width: 100%;
            background-color: grey;
            justify-content: center;
            align-items: center;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
          }

          .pricelocation {
            margin-top: 0;
            margin-bottom: 0;
          }

          .card-text {
            color: black;
            text-align: center;
            height: 15%;
            width: 100%;
            background-color: white;
            padding: 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }

    .right {
      width: 50%;
      height: 100%;
      margin: 0;
      position:sticky;
      top:0px;
      #map {
        // edit if you want
      }
    }
}

.buttons {
  padding: 10px 0px;
}

.myButton {
	box-shadow: 3px 4px 0px 0px #FF6911;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
  padding: 13px 15px;
	color:#696c6d;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
  text-decoration: none;
  transition: all 0.3s ease;
}


.filter-button {
  color: #FF6100;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  border: 1px solid #FF6100;
  transition: 0.3s ease;
  border-radius: 50px;
  height: 40px;
  width: 200px;
}

.filter-button:hover {
  background: white;
  color: #c84d01;
  border: 1px solid #FF6100;
  border-radius: 50px;
}

a{
  text-decoration: none;
}

.costumesearchfilter {
  display: flex;
  justify-content: space-between;
}

.searchbardivindex {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.card:hover {
  transform: translate(0,-2px);
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
  border: 1px solid transparent;
}

a:hover {text-decoration: none;}
