.costumes_index {
    width: 100vw;
    display: flex;
    padding: 20px;
    .left {
      width: 50%;
      height: 100%;
      margin: 0;
      padding: 20px;
      .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;
        justify-content: space-between;
        .card {
          border: 1px solid #5465FF;
          height: 200px;
          width: 200px;

          .img {
            margin: 5px;
            height: 80%;
            width: 95%;
            background-color: grey;
          }

          .text {
            height: 15%;
            width: 100%;
            background-color: white;
            padding: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .right {
      width: 50%;
      height: 100%;
      margin: 0;
      position:sticky;
      top:0px;
      .mapouter {
        border: 2px solid #5465FF;
        border-radius: 50px;
      }
    }
}

.buttons {
  padding: 15px
}

.myButton {
	box-shadow: 3px 4px 0px 0px #FF6911;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#696c6d;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
  text-decoration: none;
}
.myButton:active {
	position:relative;
	top:1px;
}
