.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background: #C5FFE0!important;
}

/* if the background gives problems leave it blank*/
