.categorieslist {
  margin-top: 40px;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;

  li {
    transition: box-shadow 0.3s ease-in-out;
    padding: 20px;
    margin: 0 20px;
    border-radius: 5%;
    text-align: center;

    &:hover {
      box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.05);
      text-transform: translate(0,-2px);
    }
  }

  .list-icon {
    height: 80px;
    width: 90px;
    position: relative;
    background-size: cover;
    filter: grayscale(1);
    transition: all 0.3s ease-in-out;

    &:hover {
      filter: grayscale(0);
      transform: translate(0,-2px);
    }

    &.clown {
      background-image: url("https://cdn-icons-png.flaticon.com/512/2155/2155388.png");
    }

    &.halloween {
    background-image: url("https://cdn-icons-png.flaticon.com/512/717/717250.png");
    }

    &.mask {
    background-image: url('https://cdn-icons-png.flaticon.com/512/545/545186.png');
    }

    &.pirates {
    background-image: asset-url("pirate.png");
    }

    &.santa {
    background-image: url('https://cdn-icons-png.flaticon.com/512/621/621873.png');
    }

    &.animals {
    background-image: asset-url("bee.png");
    }
  }
}
