.searchbardiv {
  margin-top: 80px;
  display: flex;
  justify-content: center;

    .form-control {
      width: 200%;
      height: 40px;
      border-radius: 25px;
      box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
      border: 1px solid transparent;
    }
}

.searchbar-design-index {
  width: 500px;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
  border: 1px solid transparent;
  border-radius: 25px;
}
